@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,800;1,300;1,800&display=swap');
	

        body {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../_img/_galeria/fundo.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: rgb(84,160,33); /* cor de texto verde esmeralda */
            font-family: 'Nunito', sans-serif; /* fonte Nunito */
        }
        .container {
            margin: auto;
            width: 60%;
        }
        .logo {
            width: 100px;
            height: 100px;
        }
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed; /* menu fixo na tela */
            right: 0;
            top: 0;
            width: 100%;
            background-color: #222; /* cor de fundo do menu */
        }
        .menu a {
            color: rgb(84,160,33);
            text-decoration: none;
            padding: 10px;
        }
        .menu a:hover {
            color: #fff; /* cor de destaque do menu */
        }
        .banner {
            display: flex;
            align-items: center;
            height: 300px;
            margin-top: 40px; /* espaço entre o menu e o banner */
        }
        .banner img {
            width: 200px;
            height: 200px;
            border-radius: 15%;
            margin-right: 20px;
        }
        .banner h1 {
            font-size: 36px;
        }
        .banner p {
            font-size: 18px;
        }
        .social {
            display: flex;
            justify-content: center;
            margin-top: 20px;
	    
        }
        .social a {
            display: block;
            width: 40px;
            height: 40px;
            background-color: rgb(84,160,33);
            border-radius: 50%;
            margin: 10px;
        }
        .social a i {
            font-size: 24px;
            color: #222;
            line-height: 40px;
            text-align: center;
		align-items:center;

        }
        .section {
            margin-top: 40px;
        }
        .section h2 {
            font-size: 24px;
            text-align: center;
        }
        .section p {
            font-size: 16px;
            text-align: justify;
        }
        .projects {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
        .projects img {
            width: 100%;
            height: auto;
        }
        .thumbnail {
            width: 30%;
            height: auto;
        }
        
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.9);
            filter: blur(2px);
        }
        
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }
        
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            filter: none;
        }



        .coin {
            position: relative;
            width: 200px;
            height: 200px;
            perspective: 1000px;
            transform-style: preserve-3d;
	    }

        .coins {
            display: flex;
            justify-content: space-around; /* Isso adiciona espaço igual entre as moedas */
        }

        .side1, .side2 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgb(255,255,255);
            border-radius: 50%;
            display: flex;
            align-items:center;
            justify-content:center;
        }

        .side1 img, .side2 img {
            width: 60%;
            height: 60%;
            object-fit: contain;
            backface-visibility:hidden;
        }
        .side1 {
            transform: rotateY(0deg);
        }

        .side2 {
            transform: rotateY(-180deg);
        }

        @keyframes spin {
            from { transform: rotateY(0deg); }
            to { transform: rotateY(1turn); }
        }

        .coin:hover{
            animation: spin 3s infinite linear;
        }
